[project]
	description = OpenStack Glance Puppet Module
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Gabriele Cerami (gabrielecerami)
	owner = group user/RDO CI Service Account (rdo-ci-service)
[access "refs/for/refs/*"]
	read = group user/Gabriele Cerami (gabrielecerami)
	read = group user/RDO CI Service Account (rdo-ci-service)
	push = group user/Gabriele Cerami (gabrielecerami)
	push = group user/RDO CI Service Account (rdo-ci-service)
	label-Code-Review = -2..+2 group rdo-puppet-modules
	label-Code-Review = -2..+2 group user/Gabriele Cerami (gabrielecerami)
	label-Verified = -1..+1 group user/RDO CI Service Account (rdo-ci-service)
	rebase = group user/Gabriele Cerami (gabrielecerami)
	rebase = group user/RDO CI Service Account (rdo-ci-service)
	removeReviewer = group user/Gabriele Cerami (gabrielecerami)
	removeReviewer = group user/RDO CI Service Account (rdo-ci-service)
	submit = group user/Gabriele Cerami (gabrielecerami)
	submit = group user/RDO CI Service Account (rdo-ci-service)
[access "refs/heads/*"]
	read = group user/Gabriele Cerami (gabrielecerami)
	read = group user/RDO CI Service Account (rdo-ci-service)
	create = group user/Gabriele Cerami (gabrielecerami)
	create = group user/RDO CI Service Account (rdo-ci-service)
	push = +force group user/Gabriele Cerami (gabrielecerami)
	push = +force group user/RDO CI Service Account (rdo-ci-service)
	pushMerge = group user/Gabriele Cerami (gabrielecerami)
	pushMerge = group user/RDO CI Service Account (rdo-ci-service)
[access "refs/tags/*"]
	push = +force group user/Gabriele Cerami (gabrielecerami)
	push = +force group user/RDO CI Service Account (rdo-ci-service)
	pushTag = group user/Gabriele Cerami (gabrielecerami)
	pushTag = group user/RDO CI Service Account (rdo-ci-service)
	pushSignedTag = group user/Gabriele Cerami (gabrielecerami)
	pushSignedTag = group user/RDO CI Service Account (rdo-ci-service)
